accelerate==0.21.0
aenum==3.1.15
aggdraw==1.3.19
aiofiles==23.2.1
aiohttp==3.9.3
aioresponses==0.7.6
aiosignal==1.3.1
albucore==0.0.13
albumentations==1.4.14
altair==5.2.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
APScheduler==3.10.1
asgiref==3.8.1
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
av==10.0.0
awscli==1.34.2
backoff==2.2.1
beautifulsoup4==4.13.5
bidict==0.23.1
blendmodes==2022
blinker==1.8.0
boto3==1.35.2
botocore==1.35.2
cachelib==0.13.0
cachetools==5.5.0
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
clean-fid==0.1.35
click==8.1.7
clip @ https://github.com/openai/CLIP/archive/d50d76daa670286dd6cacf3bcd80b5e4823fc8e1.zip#sha256=b5842c25da441d6c581b53a5c60e0c2127ebafe0f746f8e15561a006c6c3be6a
cn2an==0.5.22
colorama==0.4.4
coloredlogs==15.0.1
contourpy==1.2.0
cryptography==43.0.0
ctranslate2==3.24.0
cycler==0.12.1
Cython==3.0.0
dataclasses-json==0.6.7
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.8
distlib==0.3.9
distro==1.9.0
Django==5.2.1
django-cleanup==9.0.0
django-cors-headers==4.7.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
docker==6.1.3
docutils==0.16
dtw-python==1.4.4
easydict==1.13
einops==0.4.1
eng_to_ipa==0.0.2
eval_type_backport==0.2.0
exceptiongroup==1.2.0
facexlib==0.3.0
fastapi==0.112.1
faster-whisper==0.9.0
feedparser==6.0.12
ffmpy==0.3.2
filelock==3.16.1
filterpy==1.4.5
Flask==3.0.3
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
flatbuffers==24.3.25
fonttools==4.50.0
frozenlist==1.4.1
fsspec==2024.2.0
ftfy==6.1.3
gitdb==4.0.11
GitPython==3.1.32
GPUtil==1.4.0
gradio==3.48.0
gradio_client==0.6.1
gunicorn==22.0.0
h11==0.12.0
httpcore==0.15.0
httpx==0.24.1
huggingface-hub==0.21.4
humanfriendly==10.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.5.1
importlib_resources==6.3.0
inference-cli==0.9.13
inference-gpu==0.9.13
inference-sdk==0.16.2
inflect==7.0.0
inflection==0.5.1
iniconfig==2.0.0
insightface==0.7.3
itsdangerous==2.2.0
jieba==0.42.1
Jinja2==3.1.3
jiter==0.11.0
jmespath==1.0.1
joblib==1.4.2
jsonmerge==1.8.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
kornia==0.6.7
langid==1.1.6
lark==1.1.2
lazy_loader==0.3
librosa==0.9.1
lightning-utilities==0.10.1
llvmlite==0.42.0
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib==3.8.3
mdurl==0.1.2
more-itertools==10.8.0
moviepy==1.0.3
mpmath==1.3.0
msgspec==0.18.6
multidict==6.0.5
mypy-extensions==1.0.0
mysqlclient==2.2.7
networkx==3.2.1
numba==0.59.0
numpy==1.22.0
omegaconf==2.2.3
onnx==1.16.2
onnxruntime==1.23.0
onnxruntime-gpu==1.15.1
open-clip-torch==2.20.0
openai==2.0.0
openai-whisper==20250625
opencv-contrib-python==4.9.0.80
opencv-contrib-python-headless==4.9.0.80
opencv-python==4.8.0.76
opencv-python-headless==4.9.0.80
orjson==3.9.15
packaging==24.0
pandas==2.0.3
pendulum==3.0.0
piexif==1.1.3
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
pooch==1.8.2
prettytable==3.10.0
proces==0.1.7
proglog==0.1.10
prometheus-fastapi-instrumentator==6.0.0
prometheus_client==0.20.0
protobuf==3.20.2
psd-tools==1.10.12
psutil==5.9.5
PuLP==2.9.0
py-cpuinfo==9.0.0
pyasn1==0.6.0
pybase64==1.4.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
pydub==0.25.1
pyecharts==2.0.5
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.2
pypinyin==0.50.0
pyreadline3==3.4.1
pytest==8.3.2
pytest-asyncio==0.21.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.0
python-multipart==0.0.9
python-socketio==5.11.2
pytorch-lightning==1.9.4
pytz==2024.1
PyWavelets==1.5.0
pywin32==306
PyYAML==6.0.1
redis==5.0.8
referencing==0.33.0
regex @ file:///D:/Python/regex-2023.12.25-cp310-cp310-win_amd64.whl#sha256=09da66917262d9481c719599116c7dc0c321ffcec4b1f510c4f8a066f8768105
requests==2.31.0
requests-toolbelt==1.0.0
resampy==0.4.3
resize-right==0.0.2
rf-clip==1.0
rich==13.5.2
rpds-py==0.18.0
rsa==4.7.2
s3transfer==0.10.2
safetensors==0.4.2
scikit-image==0.21.0
scikit-learn==1.5.1
scipy==1.11.4
seaborn==0.13.2
segment-anything==1.0
semantic-version==2.10.0
sentencepiece @ file:///D:/Python/sentencepiece-0.2.0-cp310-cp310-win_amd64.whl#sha256=d490142b0521ef22bc1085f061d922a2a6666175bb6b42e588ff95c0db6819b2
sgmllib3k==1.0.0
shapely==2.0.1
simple-websocket==1.0.0
simplejson==3.19.2
six==1.16.0
skypilot==0.4.1
smmap==5.0.1
sniffio==1.3.1
soundfile==0.13.1
soupsieve==2.8
spandrel==0.1.6
sqlparse==0.5.3
starlette==0.38.2
supervision==0.22.0
sympy==1.12
tabulate==0.9.0
threadpoolctl==3.5.0
tifffile==2024.2.12
tiktoken==0.11.0
time-machine==2.15.0
timm==0.9.16
tokenizers==0.13.3
tomesd==0.1.3
tomli==2.0.1
toolz==0.12.1
torch==2.2.1+cu121
torchaudio @ file:///D:/Python/download/wheels/torchaudio-2.2.1%2Bcpu-cp310-cp310-win_amd64.whl#sha256=f1729cbbd361f4a0deba946079a80c48c68b546de7b396cd88a290a6bbc97b98
torchdiffeq==0.2.3
torchmetrics==1.3.1
torchsde==0.2.6
torchvision==0.17.1+cu121
tqdm==4.66.2
trampoline==0.1.2
transformers==4.30.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ultralytics==8.2.79
ultralytics-thop==2.0.5
Unidecode==1.3.7
urllib3==1.26.19
uvicorn==0.28.0
virtualenv==20.27.1
virtualenvwrapper-win==1.2.7
wavmark==0.0.3
wcwidth==0.2.13
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.0.2
whisper-timestamped==1.14.2
whitenoise==6.11.0
wsproto==1.2.0
yarl==1.9.4
